$article-height: 26vh;
.article-header {
  height: $article-height;
  line-height: 30vh;
  margin-bottom: 30px;
  box-shadow: none;
}


.page-title {
  line-height: $article-height;
  font-size: 48px;
}
