[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}
@import 'components/color';
@import 'components/variables';
@import 'components/typography';
@import 'components/layout';
@import '../../app/features/navigation/navigation';
@import '../../app/features/articles/article';


body {
//  padding: 10px 0px;
}

html, body {
  height: 100%;
  box-sizing: border-box;
  @include antialiasing();
}

body {
  height: 100%;
  //  margin: 0 2em;
  box-sizing: border-box;
  background: $gray;
  @include flexbox();
  -webkit-flex-direction: column;
  -webkit-justify-content: center;
  -moz-flex-direction: column;
  -moz-justify-content: center;
  -ms-flex-direction: column;
  -ms-justify-content: center;
  -o-flex-direction: column;
  -o-justify-content: center;
  flex-direction: column;
  justify-content: center;
  @include transition(all 500ms ease-in-out);
}


