@import 'variables';

@mixin bp($point) {
  @if $point == lg {
    @media (max-width: $lg) {
      @content;
    }
  } @else if $point == md {
    @media (max-width: $md) {
      @content;
    }
  } @else if $point == sm {
    @media (max-width: $sm) {
      @content;
    }
  } @else if $point == xs {
    @media (max-width: $xs) {
      @content;
    }
  } @else {
    @media (max-width: $point) {
      @content
    }
  }
}

@mixin hand-cursor {
  cursor: pointer;
  cursor: hand;
}

@mixin unselectable() {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

@mixin antialiasing( $type:antialiased ) {
  -webkit-font-smoothing: $type;
  font-smoothing: $type;
  font-smooth: always;
}