.black-text {
  color: black;
  .black-text:hover {
    color: black;
  }
}

.architect-text {
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
}

.header {
  font-weight: 300;
}
